/*  
	text-align: Aligns the h1 text to the center of the page
	color: Makes text color yellow
	background-color: Makes background color #004684 (Aggie Blue)
	border: Makes the border around the h1 text solid yellow
	padding: Adds 50px of space inbetween the border
	margin: Adds 50px of space outside the border
*/
h1{
	text-align: center;
	color: yellow;
	background-color: #004684;
	border: solid yellow;
	padding: 50px;
	margin: 50px;
	
}
/*  
	color: Makes text color yellow
*/
a{
	color: yellow;
}
/*  
	display: the image is displayed as a block
	margin-left: centers the image
	margin-right: centers the image
	width: makes the image width 300px in length
*/
.logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
/*  
	background-color: makes the church logo background color black
	height: makes the church logo height 120px in length
	margin: puts 50px of space ouside the church logo bordera
	display: the image is displayed as a block
	margin-left: centers the image
	margin-right: centers the image
	width: makes the image width 500px in length
*/
.church-logo{
	background-color: black;
	height: 120px;
	margin: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.church-logo-flex-container{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	border-width: 10px 10px 10px 10px;
 	margin-top: 10px;
 	margin-left: 100px;
 	margin-right: 100px;
 	margin-bottom: 10px;
 	justify-content: center;
 	align-items: flex-start;
 	background-color: black;
}
.nav-table{
	width: 100%;
	background-color: #004684;
	border: solid yellow;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.about-us-table{
	text-align: center;
	background-color: #004684;
	border: solid yellow;
	padding: 25px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;

}

.a-nav{
	color: yellow;
	padding: 10px;
	background-color: #004684;
}
.nav-a-active {
  background-color: #004684;
  color: white;
}

h2{
	text-align: center;
	font-size: 40px;
}

h3{
	text-align: center;
}

.matt28-p{
	text-align: center;
	font-size: 30px;
}

.matt28-h2{
	text-align: center;
	font-size: 40px;
}

.about-us{
	text-align: center;
	font-size: 25px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	border: 5px solid yellow;
	margin-left: 700px;
	margin-right: 700px;
	background-color: #004684;
	font-size: 30px;
	padding: 10px;

	
}

.mission-flex-container{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	border-width: 20px 20px 20px 20px;
 	margin-left: 150px;
 	margin-right: 150px;
 	justify-content: center;
 	align-items: flex-start;
 	background-color: #004684;

}
.God {
	
 	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 75px;
 	font-size: 30px;
 	align-items: flex-start;
 	color: yellow;
}

.Laborers {
 	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 75px;
 	font-size: 30px;
 	align-items: flex-start;
 	color: yellow;

}

.Campus {
	
 	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 75px;
 	font-size: 30px;
 	align-items: flex-start;
 	color: yellow;
}

.Lost {
	
 	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 75px;
 	font-size: 30px;
 	align-items: flex-start;
 	color: yellow;
}

.church-logo-link{
	background-color: black;
}

.church-address{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	justify-content: center;
 	align-items: center;
 	background-color: black;
 	color: yellow;
 	margin: 10px;
 	margin-left: 100px;
 	margin-right: 100px;
 	tab-size: 40px;
}

.footer-flex-container{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	justify-content: center;
 	align-items: center;
 	background-color: #004684;
 	color: yellow;
 	margin-top: 100px;
}

.church-info-flex-container{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	border-width: 10px 10px 10px 10px;
 	margin-left: 50px;
 	margin-right: 50px;
 	justify-content: center;
 	align-items: flex-start;
 	background-color: black;
}

.church-time{
	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 60px;
 	font-size: 20px;
 	align-items: flex-start;
 	color: yellow;
 	border: solid yellow;
 	padding-bottom: 60px;

}

.youtube {
	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 60px;
 	font-size: 20px;
 	align-items: flex-start;
 	color: yellow;
 	border: solid yellow;
 	padding-bottom: 80px;

}

.youtube_logo{
	width: 100px;
	height: 75px;
	background-color: black;
}

.church-events{
	width: 250px;
 	margin: 10px;
 	text-align: center;
 	line-height: 60px;
 	font-size: 20px;
 	align-items: flex-start;
 	color: yellow;
 	border: solid yellow;
}

.bible-studies-flex-container{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	border-width: 10px 10px 10px 10px;
 	margin-top: 10px;
 	margin-left: 50px;
 	margin-right: 50px;
 	justify-content: center;
 	align-items: flex-start;
 	background-color: black;
 	padding: 50px;
}

.cooper{
	width: 400px;
	height: 400px;
	margin: 10px;
}
.coed{
	width: 400px;
	height: 400px;
	margin: 10px;
}
.p4{
	width: 400px;
	height: 400px;
	margin: 10px;
}

.get-connected-flex-container{
	display: flex;
 	flex-wrap: wrap;
 	border: solid yellow;
 	border-width: 10px 10px 10px 10px;
 	margin-left: 50px;
 	margin-right: 50px;
 	margin-top: 20px;
 	justify-content: center;
 	align-items: center;
 	background-color: #004684;
 	padding: 10px;
 	color: yellow;
}

.nav-a-active {
  background-color: #4CAF50;
  color: white;
}
